PYPOWER==git+https://github.com/rwl/pypower.git
argparse==1.2.1
cycler==0.9.0
matplotlib==1.5.0
numpy==1.10.2
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
recordclass==0.4
scipy==0.16.1
six==1.10.0
wsgiref==0.1.2
